@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
}

<h1>Tyler Herd</h1>
<br />
<br />

<img src="img/IMG_0463.jpg" />
<br />
<br />

<h4>What I hope to get out of IS 413</h4>
<p>
    I hope to gain valuable programming skills out of this class. Not only do I want to gain skills using ASP.NET, but I hope to also
    learn how to learn. Using Visual Studio Community will also be something that I hope to attain from this class. Overall, I hope to gain
    skills that will be useful in my career.
</p>
<br />
<br />

<h4>Top 3 Jobs After Graduation:</h4>
<ol>
    <li>Database Engineer</li>
    <li>Data Analyst</li>
    <li>Web Developer</li>
</ol>
<br />
<br />